---
import { Code } from 'astro:components';
import Layout from '@layouts/Layout.astro';
---

<!-- 代码片段生成 -->
<Layout title="代码片段生成">
  <div class="grid grid-cols-4 gap-4 mt-2 px-4">
    <form>
      <div>
        <input
          type="text"
          placeholder="名称"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
      </div>
    </form>
    <div class="col-span-3">
      <Code code="" lang="json" theme="light-plus" />
    </div>
  </div>
</Layout>
