---
import Layout from '@layouts/Layout.astro';
import fs from 'fs';
import path from 'path';
import { clearExtension } from '@utils/mUtils';

const pageFiles = fs.readdirSync(path.resolve('./src/pages'));
const pageDirs = pageFiles.filter((page) => !page.includes('.'));

const files = pageDirs.map((dir) => {
  return fs.readdirSync(path.resolve('./src/pages', dir));
});

function getAstroUrl(...astro: string[]) {
  return `${astro.slice(0,astro.length -1 )}/${clearExtension(astro.at(-1))}`;
}
---

<Layout>
  <div class="mx-auto mt-10 w-[800px]">
    {
      pageDirs.map((it, index) => (
        <>
          <h1 class="text-4xl my-3">{it}</h1>
          <ul class="flex flex-wrap">
            {files[index].map((astro) => (
              <>
                <li class="mx-3 my-1">
                  <a
                    class="text-blue-800 hover:text-blue-500 decoration-blue-500 hover:underline"
                    href={getAstroUrl(it, astro)}
                    target="_blank"
                  >
                    {clearExtension(astro)}
                  </a>
                </li>
              </>
            ))}
          </ul>
        </>
      ))
    }
  </div>
</Layout>
