---
import Layout from '@layouts/Layout.astro';
---

<!-- 初识渲染器 -->
<Layout>
  <div></div>
</Layout>

<script>
  const vnode = {
    tag: 'div',
    props: {
      onClick: () => alert('hello'),
    },
    children: 'click me',
  };

  function renderer(vnode, container: HTMLElement) {
    // 使用 vnode.tag 作为标签名称创建 DOM 元素
    const el = document.createElement(vnode.tag) as unknown as HTMLElement;
    // 遍历 vnode.props，将属性、事件添加到 DOM 元素
    for (let key in vnode.props) {
      // 以on开头是事件
      if (/^on/.test(key)) {
        el.addEventListener(key.substring(2).toLocaleLowerCase(), vnode.props[key]);
      }
    }

    // 处理 vnode.children
    if (typeof vnode.children === 'string') {
      el.appendChild(document.createTextNode(vnode.children));
    } else if (Array.isArray(vnode.children)) {
      vnode.children.forEach((child) => renderer(child, el));
    }
    container.appendChild(el);
  }

  renderer(vnode, document.body);
</script>
